body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

#folderInput {
    margin: 20px;
    background-color: #464647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#folderInput:hover {
    background-color: #5a5a5c;
}

#sortOptions {
    margin: 20px;
    background-color: #464647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-right: 15px solid transparent;
}

#sortOptions:hover {
    background-color: #5a5a5c;
}

#reverseSortButton {
    margin: 20px;
    background-color: #464647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#reverseSortButton:hover {
    background-color: #5a5a5c;
}

#selectedImageContainer {
    width: 25%;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111112;
    transition: width 0.3s;
}

#selectedImageContainer img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s;
    position: absolute;
    cursor: grab;
}

#expandButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #464647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10; /* Ensure button is on top */
}

#expandButton:hover {
    background-color: #5a5a5c;
}

#infoButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #343436;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure button is on top */
}   

#infoButton:hover::after {
    content: attr(data-info);
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: #464647;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
}

#focusButton {
    position: absolute;
    top: 10px;
    left: 90px;
    background-color: #464647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10; /* Ensure button is on top */
}

#focusButton:hover {
    background-color: #5a5a5c;
}

#focusContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(5px); /* Add blurriness to the background */
}

#focusContainer.hidden {
    display: none;
}

#focusedImage {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s;
    position: absolute;
    cursor: grab;
}

#closeFocusButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #464647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 110; /* Ensure button is on top */
}

#closeFocusButton:hover {
    background-color: #5a5a5c;
}

#galleryContainer {
    width: 75%;
    overflow-y: auto;
    height: 100vh;
    background-color: #222224;
    transition: width 0.3s;
}

#galleryContainer {
    background-image: url('images/corner pattern grey.png'), url('images/band.png');
    background-position: right 10px top 10px, left 10px top 10px;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 150px, auto 70px; 
}  

#gallery {
    display: flex;
    /* width: 95%; Adjust width to fit container */
    margin: 10px;
}

.column {
    margin: 3px;
}

.tile-img {
    width: 100%;
    margin: 2px 0 2px 0;
    cursor: pointer;
    border-radius: 5px;
}

#columnButtons {
    display: inline-flex;
    margin: 20px;
}

.column-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #464647;
    color: white;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-button.selected {
    background-color: #5a5a5c;
}

.column-button:hover {
    background-color: #5a5a5c;
}
